.site-container {
  display: flex;
}

main {
  min-height: 100vh;
  width: 100%;
}
.plyr__video-embed iframe {
  position: relative;
  border-radius: 5px;
}
.searchBox {
  padding: 1em;
  display: none;
  position: absolute;
  left: 50;
  top: 50px;
  width: 200px;
  max-width: 207px;
  height: 100px auto;
  background-color: white;
  border: 1px solid black;
}

footer {
  background: var(--quick-primary-color);
  color: black;
}
.footer {
  min-height: 300px;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-item {
  margin: 0.2em;
  padding: 0.2em;
}
.footer-item a {
  color: black;
}
.footer-item-content {
  margin: 0.2em;
  padding: 0.2em;
  display: flex;
}
.fa-bolt {
  animation: 1s colors infinite;
}
.map {
  padding: 0;
}
#msg_dialog {
  display: block;
  transition: 1s;
}
.nav-item:hover {
  cursor: pointer;
}
.map iframe {
  width: 100%;
  height: 100%;
}
